################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/.vs
/QrF/obj/Debug
/_Core/QrF.Core/obj/Debug
/_Core/QrF.Core/bin/Debug
